<ion-header>
  <ion-toolbar>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
          <ion-avatar>
            <img src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png" alt="">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="Password"></ion-input>
          </ion-item>
          <ion-button>Sign in</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>

